body {
    font-family: Arial;
    background: #f4f4f4;
}
form {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background: white;
}
input, button {
    width: 100%;
    margin: 10px 0;
    padding: 8px;
}
